/*COMMON*/
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse {   /*반대 라는 뜻*/
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover {
    background-color: transparent; /*투명함을 의미하는 색상*/
    color: #333;
}
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover {
    color: #fff;
    background-color: #592B18;
}
.btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
}
.btn.btn--gold:hover {
    color: #fff;
    background-color: #D9AA8A;
}
.btn.btn--white {
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover {
    color: #333;
    background-color: #fff;
}
.back-to-position {
    opacity: 0;
    transition: 1s;  /*opacity 0에서 1*/
}
.back-to-position.to-right {
    transform: translateX(-150px);
}
.back-to-position.to-left {
    transform: translateX(150px);
}
.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-0 {
    transition-delay: 0s;
}
.show .back-to-position.delay-1 {
    transition-delay: .3s;
}
.show .back-to-position.delay-2 {
    transition-delay: .6s;
}
.show .back-to-position.delay-3 {
    transition-delay: .9s;
}



/*HEADER*/
header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    /*position: relative 는 badges의 위치상의 부모요소로서 기준이 되도록 한건데 fixed 가 있기때문에 없어도 된다*/
    top: 0;
    z-index: 9;
}
header > .inner { /*header의 바로자식부분인 inner만 해당 '자식선택자'*/
    height: 120px;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
}
header .sub-menu ul.menu {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before { /*가상요소는 inline 이다*/
    content: "";
    display: block;/*position absolute 일때 자동으로 display 는 block 이 되기 때문에 따로 명시안해도 됨*/
    width: 1px;
    height: 12px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    color: #565656;
    font-size: 12px;
    display: block;
    padding: 11px 16px;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    height: 34px;
    position: relative;
}
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
    color: #777;
    background-color: #fff; 
    transition: width .4s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}
header .main-menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
header .main-menu .item .item__name {
    font-size: 13px;
    padding: 10px 20px 34px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
    position: fixed;
    width: 100%;
    left: 0;
    display: none;
}
header .main-menu .item:hover .item__contents{
    display: block;
}
header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    color: #fff;
    padding: 3px 0 12px 0;
    font-size: 14px;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__texture {
    background-image: url('../images/main_menu_pattern.jpg');
    padding: 26px 0;
    font-size: 12px;
}
header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}
header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
}
header .badges .badge {
    border-radius: 10px;
    overflow: hidden;/*싱지밖으로 넘치는 부분을 보이지 않게 해준다*/
    margin-bottom: 12px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}



/*VISUAL*/
.visual {
    margin-top: 120px;
    background-image: url(../images/visual_bg.jpg);
    background-position: center;
}
.visual .inner {
    height: 646px;
}
.visual .inner .title { /*너무 많이 중복되는 inner 같은 요소는 생략해도됨*/
    position: absolute;
    top: 88px;
    left: -10px;
}
.visual .title .btn {
    position: absolute;
    top: 259px;
    left: 173px;
}
.visual .cup1.image {
    position: absolute;
    bottom: 0px;
    right: -47px;
}
.visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}
.visual .cup2.image {
    position: absolute;
    bottom: 0px;
    right: 162px;
}
.visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}
.visual .spoon {
    position: absolute;
    bottom: 0px;
    left: 275px;
}
.visual .fade-in {
    opacity: 0;
}



/*NOTICE*/
.notice {
    
}
.notice .notice-line {
    position: relative;
}
.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}
.notice .notice-line .inner {
    height: 62px;
    display: flex; /*inner__left 와 right를 가로정렬 시켜주기 위함 */
}
.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
    height: 62px;
    flex-grow: 1; /*최대한 늘어나게 하기 위함*/
}
.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;

}
.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
}
.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /*수평의 끝점으로 이동시키겠다(오른쪽 정렬을 하겠다)*/
    align-items: center;
}
.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
}
.notice .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    transition: height .4s;
    overflow: hidden; /*height를 0으로 만들었을때 안에있던 내용들이 넘치는것을 모두 잘라내기 위함*/
}
.notice .promotion.hide {
    height: 0;
}
.notice .promotion .swiper-container {
    width: calc(819px * 3 + 20px);
    height: 553px;
    position: absolute;  /*swiper container 가 화면의 정중앙에 위치할수 있게 함*/
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper-slide {
    opacity: .5;
    transition: opacity 1s;
    position: relative;
}
.notice .promotion .swiper-slide-active {
    opacity: 1;
}
.notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent; /*기존값 배경을 없애주기 위함*/
    background-image: url('../images/promotion_slide_pager.png');
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url('../images/promotion_slide_pager_on.png');
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -480px;
}
.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
    background-color: #333;
    color: #fff;
}


/*REWARDS*/
.rewards {
    position: relative;
}
.rewards .bg-left {
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}
.rewards .bg-right {
    width: 50%;
    height: 100%;
    background-color: #D5C798;
    position: absolute;
    top: 0;
    right: 0;
}
.rewards .inner {
    background-image: url('../images/rewards.jpg');
    height: 241px;
}
.rewards .btn-group {
    width: 250px;
    display: flex;
    flex-wrap: wrap; /*요소들이 강제로 한줄에 배치되게 할 것인지, 또는 가능한 영역 내에서 벗어나지 않고 여러행으로 나누어 표현 할 것인지 결정하는 속성*/
    position: absolute;
    bottom: 24px;
    right: 0;
}
.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
    width: 110px;
}
.rewards .btn-group .btn.gift {
    margin-top: 10px;
    flex-grow: 1;  /*최대한의 너비를 사용하게 함*/
}


/*YOUTUBE VIDEO*/
.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}
.youtube .youtube__area {
    width: 1920px;   /*Full HD 화면을 전제로 FHD 1920*1080*/
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1920px / 16 * 9 / -2); /*세로 길이를 지정해준게 아니라 비율로 따졌기 떄문에 계산이 필요*/
}
.youtube .youtube__area::after {   /*영상에서는 ::before를 사용했지만 상관없는것 같다*/
    content: "";                   /*이해가 안갈경우 스타벅스예제 23번 영상 보기*/
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}
.youtube .youtube__cover {
    background-image: url('../images/video_cover_pattern.png');
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube .inner {
    height: 700px;
    position: relative;
}
.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 0;
}
.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: 150px;
}
/*.youtube .floating3 {    .youtube 의 overflow 때문에 밑이 짤림
    position: absolute;   
    bottom: -200px;
    right: 0;
}*/


/*SEASON PRODUCT*/
.season-product {
    background-image: url('../images/season_product_bg.jpg');
}
.season-product .inner {
    height: 400px;
}
.season-product .floating3 {    /*youtube 의 overflow 때문에 밑이 짤려서 youtube section 으로 가져옴*/
    position: absolute;   
    top: -200px;
    right: 0;
}
.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}
.season-product .text-group .title {
    margin-bottom: 10px;
}
.season-product .text-group .description {
    margin-bottom: 15px;
}


/*RESERVE COFFEE*/
.reserve-coffee {
    background-image: url('../images/reserve_bg.jpg');
}
.reserve-coffee .inner {
    height: 400px;
}
.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;
}
.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}


/*PICK YOUR FAVORITE*/
.pick-your-favorite {
    background-image: url('../images/favorite_bg.jpg');
    background-repeat: no-repeat; /*배경 이미지 반복 안함*/
    background-position: center;
    background-attachment: fixed; /*스크롤을 움직여도 배경이미지가 같이 스크롤되지 않고 뷰포트에 픽스되게 해줌*/
    background-size: cover; /*이미지가 찌그러지지 않는 한도 내에서 제일 크게 설정. 이미지의 가로세로비가 요소와 다르다면 이미지를 세로 또는 가로방향으로 잘라내어 빈 공간이 생기지 않도록 설정합니다.*/
}
.pick-your-favorite .inner {
    padding: 110px 0;
}
.pick-your-favorite .text-group {
    margin-left: 100px;
    display: flex;
    width: 362px;
    flex-wrap: wrap;
    justify-content: flex-end; /*우측 끝에 정렬*/
}
.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}


/*RESERVE STORE*/
.reserve-store {
    background-image: url('../images/reserve_store_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve-store .medal {
    width: 334px;
    height: 334px;
    perspective: 600px; /*원근법*/
}
.reserve-store .medal .front,
.reserve-store .medal .back {
    width: 334px;
    height: 334px;
    backface-visibility: hidden; /*뒷면은 안보이게 함*/
    transition: 1s;
    position: absolute;   /*공통 포지션*/
}
.reserve-store .medal .front {
    /*position: absolute;*/
    transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}
.reserve-store .medal .back {
    transform: rotateY(-180deg);
    /*position: relative; /.back .btn 의 position 때문에 원래는 필요함 but 원래 front 에 absolute가 필요하고 이제 back 도 필요하기 때문에 공통 부분에 position absolute 를 해줌*/
}
.reserve-store .medal:hover .back {
    transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    /*원래는 가로너비를 지정해 주어야 하는데 commom 에 이미 btn 의 가로너비를 지정해놈*/
}


/*FIND THE STORE*/
.find-store {
    background-image: url('../images/find_store_bg.jpg');
}
.find-store .inner {
    height: 400px;
}
.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}
.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;

}
.find-store .picture {
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}
.find-store .picture.picture1 {
    top: -60px;
    left: 0;
}
.find-store .picture.picture2 {
    top: 150px;
    left: 250px;
}
.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}
.find-store .text-group .title {
    margin-bottom: 20px;
}
.find-store .text-group .description {
    margin-bottom: 20px;
}



/*AWARDS*/
.awards {
    background-color: #272727;
}
.awards .inner {
    padding: 40px 0;
}
.awards .inner .swiper-container {
    width: 100%;
    height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #fff;
    opacity: .3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.awards .swiper-prev {
    left: -100px;
}
.awards .swiper-next {
    right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
    color: #333;
    background-color: #fff;
}